body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}
#backspace{
    background-color: rgb(127, 157, 246);
}